%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  height: $navbar-height;
  padding: $base-padding $base-padding * 2;
  background-color: $neutral100;

  .container {
    @extend %flex-layout;

    ul {
      padding: 0;
      list-style-type: none;

      display: flex;
      align-items: center;
      gap: $base-padding;

      li {
        &:hover {
          color: map-get($dark, "primary");
        }
      }
    }
  }
}

.logo {
  height: 60px;

  fill: map-get($dark, "primary");
  stroke: map-get($dark, "primary");
}

.router-link-exact-active {
  color: map-get($dark, "primary");
}
