header {
  @extend %flex-layout;
  height: $header-height;
  // padding: $base-padding $base-padding * 2;
  background-color: $neutral100;

  .container {
    @extend %flex-layout;
  }
}

.logo {
  height: 60px;

  fill: map-get($dark, "primary");
  stroke: map-get($dark, "primary");
}
