footer {
  min-height: $footer-height;
  max-height: $footer-height;

  background-color: map-get($dark, "tertiary");

  padding: $base-padding * 2 0;
  margin-top: $base-margin * 6;

  display: flex;
  align-items: center;
}
